<h2 class="text-xl font-bold mb-2">Topics</h2>

<ul class="list-disc list-inside">
  <%= for topic <- @topics do %>
    <li class="mb-2">
      <%= topic.title %>
    </li>
  <% end %>
</ul>

<%= link to: Routes.topic_path(@conn, :new), class: "max-w-xs bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" do %>
Add topic
<% end %>
